<nz-layout class="shell">
  <nz-sider nzTheme="light" nzWidth="240" class="shell__sider">
    <div class="sider-inner">
      <div class="brand">BuuDevStudio</div>

      <ul nz-menu nzMode="inline" class="nav-main">
        <li
          nz-menu-item
          *ngFor="let item of navMain"
          [nzDisabled]="item.disabled"
          [nzSelected]="activeKey === item.key"
          [routerLink]="item.path"
        >
          <div class="nav-label">{{ item.label }}</div>
          <div class="nav-desc">{{ item.description }}</div>
        </li>
      </ul>

      <div class="sider-footer">
        <ul nz-menu nzMode="inline">
          <li
            nz-menu-item
            *ngFor="let item of navSettings"
            [nzDisabled]="item.disabled"
            [nzSelected]="activeKey === item.key"
            [routerLink]="item.path"
          >
            <div class="nav-label">{{ item.label }}</div>
            <div class="nav-desc">{{ item.description }}</div>
          </li>
        </ul>
      </div>
    </div>
  </nz-sider>

  <nz-layout>
    <nz-header class="shell__topbar">
      <div class="topbar-left">
        <div class="brand brand--inline">Device toolbar</div>
      </div>
      <div class="topbar-actions" *ngIf="vm$ | async as vm">
        <button nz-button nzType="default" [nzLoading]="vm.busy" (click)="vm.connected ? device.disconnect() : device.connect()">
          {{ vm.connected ? 'Disconnect' : 'Connect' }}
        </button>
        <button nz-button nzType="default" [disabled]="!vm.connected || vm.busy" (click)="device.uploadToRam()">
          Upload to RAM
        </button>
        <button nz-button nzType="primary" [disabled]="!vm.connected || vm.busy" (click)="device.run()">
          Run
        </button>
        <button nz-button nzDanger [disabled]="!vm.connected" (click)="device.stopAll()">
          Stop All
        </button>
        <button nz-button nzType="default" [disabled]="!vm.connected || !vm.ramLoaded || vm.busy || vm.running" (click)="device.commitToFlash()">
          Commit to Flash
        </button>
      </div>
    </nz-header>

    <nz-content class="shell__content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
