/* NG-ZORRO dropdown overrides */
.overlay-match-trigger,
.overlay-match-trigger .ant-dropdown,
.overlay-match-trigger .ant-dropdown-menu,
.overlay-match-trigger .ant-dropdown-menu-root {
  min-width: 100%;
  width: 100%;
}
