/* NG-ZORRO menu overrides scoped via tokens */
.ant-menu {
  background: var(--ant-menu-background);
}

.ant-menu-inline {
  padding-inline: 0;
}

.ant-menu .ant-menu-item {
  min-height: var(--shell-nav-item-height, 44px);
  line-height: var(--shell-nav-item-height, 44px);
  width: 100%;
  box-sizing: border-box;
  margin-inline: 0;
}

.ant-menu .ant-menu-item-selected {
  background: var(--ant-menu-item-selected-bg);
  color: var(--ant-menu-item-selected-color);
}

.ant-menu .ant-menu-item:hover {
  background: var(--ant-menu-item-active-bg);
}
